body {
  width: 100vw;
  height: 100vh;
  background: url("./images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
.game-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #e2e0e0;
  text-shadow: 10px 10px #000000;
}
.board {
  width: 28rem;
  height: 28rem;
  outline: 10px solid black;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.box {
  position: relative;
}
.box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%; 
  max-height: 80%; 
}

.white {
  background: white;
}

.black {
  background: #bd9977;
  cursor: pointer;
}

.burnt {
  background: red;
}

.selected-piece {
  background:  #f8c79a;;
  cursor: pointer;
}

.selected-cell {
   border: 5px solid #fde1c7; 
  /* background-color:  #f8c79a; */
  /* border-style: dashed */
}


.turn {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #e2e0e0;
  text-shadow: 4px 4px #000000;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.red_font {
  color: red;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 3px #000000;
}

.black_font {
  color: black;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px #737373;
}

.buttons {
  text-align: center;
  font-size: 2rem;
}

.main-button {
  border: 2px solid rgb(119, 119, 119);
  background-color: #2e2e2e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin: 15px 30px 40px 0px;

  cursor: pointer;
}

/* .main-button:hover {
  background-color: #ffffff;
} */

.modal-button {
  background-color: #ffffff;
  color: #000000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid #888;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white; 
  border-radius: 10px;
  text-align: center;
}



.modal-button-container {
  margin-top: 30px;
  margin-left:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.button-container {
  margin-top: 1rem;
}

#add-board {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.board-container {
  display: inline-block;
  margin-right: 10px;
}
